
.back {
    background-image:   url(../img/ttt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    min-height: 100vh;
    position: relative;
}
.box {
    height:auto;
    /**background-image: linear-gradient(to bottom, #D9D9D9, #70666B) !important ;**/
    background-image: linear-gradient(to bottom, #383738ad, #dbd3ceab);

    border: 2px solid #000000;
    border-bottom: 4px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}


.text {
    font-size: x-large;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 3px #808080;
}

.btn-login {
    color: #FFF5F5;
    text-shadow: 0px 1px 12px #808080;
    background-color: transparent;
}

.btn-login:hover {
    background-color:  #AFB2B6;
}

.btn-1 {
    background-color: #080E36;
    color: #FFFFFF;
    height: auto;
    padding: 6px;
}

