
{% extends "base.html" %}
{% load static %}
{% block 'title' %}home{% endblock 'title' %}
{% block 'content' %}
  <div class="login_1">
    <div class=" float-end m-1  d-inline-block"><a href="#"><img class="login_img"
          src="{% static 'assets//img/instagram-logo-main-4.png' %}"></a></div>
    <div class=" float-end m-1  d-inline-block"><a href="#"><img class="login_img"
          src="{% static 'assets//img/مجموعه-لوگو-تلگرام-8.png' %}"></a></div>
    <button class="btn-login border  d-inline-block float-end m-1"><a class="btn-login-a"
        href=" 'assets//P12-animated login and signup form/index.html ">ورود به سایت</a> </button>
    <div class=" float-start m-1  d-inline-block"> <img class="logo" src="{% static 'assets//img/logoooo.png' %}"> </div>
  </div>
  <nav dir="rtl" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <div class=" float-end m-1  d-inline-block"><a href="#"><img class="part1_img" src="{% static 'assets//img/shop.png' %}"></a></div>
    <div class="float-end m-1 d-inline-block "><a href="#"><img class="part1_img" src="{% static 'assets//img/profile2.png' %}"></a>
    </div>
  </nav>
  <div>
    <div class="part1 col-lg-12  ">

      <h1 class="text-center ">گرافیست سایت </h1><br>
      <p class="text-center  captiontitle">اولین و بزرکترین سایت طراحی گرافیکی </p>
    </div>
    <br>
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0 z-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#1">نمونه کار</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#3" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                خدمات
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href='#'>عکاسی</a></li>
                <li><a class="dropdown-item" href="service.html">طراحی لوگو و ارم</a></li>
                <li><a class="dropdown-item" href="service.html">طراحی اسلایدر و بنر </a></li>
                <li><a class="dropdown-item" href="service.html">طراحی گرافیکی سایت</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="service.html">سایر موارد</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link ">همکاری با ما </a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="جستجو..." aria-label="Search">
            <button class="btn btn-search" type="submit">جستجو</button>
          </form>
        </div>
      </div>
    </nav>
    <div id="carouselExampleAutoplaying" class="carousel slide col-lg-12 mx-auto" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets//img/Graphic-Design.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets//img/gra00.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets//img/gra9.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <hr><br> <br>
    <div class="row">

      <div class="col-12 col-md-4 col-lg-3 wow slideInRight""><img class=" img-fluid " style=" height: 300px;"
        src="{% static 'assets//img/Designer-pana.png' %}">
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <h3>طراحی گرافیک چیست؟</h3>
        <br>
        <p class="col-sm-10">>گرافیک از ریشه کلمه یونانی گرافیکوس گرفته شده است .<br>بدین معنی که گرافیک نمایشی بصری روی
          یک سطح اطلاق می
          شود .نظیر دیوار ها /کاغذها/صفحه نمایش کامپیوتر ویا حتی یک سنگو غیره که در آن نوعی اطلاع رسانی /چهرنگاری یا
          سرگرمی وجود دارد</p>

        <hr>
      </div>

      <div class="col-12 col-md-4 col-lg-3 wow slideInRight"><img class="img-fluid" style="height: 300px;"
          src="{% static 'assets//img/Designer-amico.png' %}">
      </div>
      <div class="col-12 col-md-8 col-lg-9">
        <h3>کار اصلی یک طراح گرافیک</h3>
        <br>
        <p class="col-sm-10">طراحان گرافیک /مفاهیم بصری را با استفاده از نرم افزار کامپیوتری و یا دست ایجاد می کندد .
          آنها با این کار سعی دارند تا ایده های الهام بخش خود را پیاده سازی کنند ودر اطلاع رسانی و ارتباط بامصرف
          کنندگان
          و زیبا سازی دنیای پیرامون استفاده کنند.
          خلق دنیایی زیبا از رسالت های یک طراح گرافیک است .</p>

        <hr>
      </div>
    </div>


  </div>
  <br><br><br>

  <br><br>
  <div class="oo">
    <hr>
    <h3 id="1" class="text-center">نمونه کار های کارت ویزیت</h3>
  </div>
  <br><br>
  <div id="product" class="card-group container owl-carousel owl-theme owl-rtl">
    <div class="card m-2  col-md-5 blur item">
      <img src="{% static 'assets//img/graaaa.jpg' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">نمونه کار کارت ویزیت</h5>
        <p class="card-text">اینجا توضیحات لازم نوشته میشود.</p>

      </div>
    </div>

    <div class="card m-2  col-md-5 blur item ">
      <img src="{% static 'assets//img/gra55' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">نمونه کار کارت ویزیت</h5>
        <p class="card-text">اینجا توضیحات لازم نوشته میشود </p>

      </div>
    </div>
    <div class="card m-2  col-md-5 blur item">
      <img src="{% static 'assets//img/gra66.jpeg' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">نمونه کار کارت ویزیت</h5>
        <p class="card-text">اینجا توضیحات لازم نوشته می شود.</p>

      </div>
    </div>
  </div>
  <br><br>
  <div class="oo">
    <hr>
    <h3 id="2" class="text-center ">نمونه کار عکاسی کودکان </h3>
  </div>
  <br> <br>
  <div class="card-group  container ">
    <div class="card m-2">
      <img src="{% static 'assets//img/baby.jfif' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">عکاسی کودکان </h5>
        <p class="card-text">اینجا توضیحات لازم می نویسیمbr><br>.</p>
      </div>

    </div>
    <div class="card m-2">
      <img src="{% static 'assets//img/baby2.webp' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">عکاسی کوکان </h5>
        <p class="card-text">اینجا توضیحات لازم می نویسیم </p>
      </div>

    </div>
    <div class="card m-2">
      <img src="{% static 'assets//img/baby3.jpg' %}" class="card-img-top card_img" alt="...">
      <div class="card-body">
        <h5 class="card-title">عکاسی کوکان</h5>
        <p class="card-text  ">اینجا توضیحات لازم   می نویسیم</p>
      </div>

    </div>
  </div>
  <br><br><br>
  <div class="oo">
    <hr>
    <h3 id="3" class="text-center ">خدمات </h3>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-3   col-md-5 col-sm-12 ">
        <div class="box border border-1">

          <div class="image">
            <div class="text-servic text-center ">عکاسی </div>
            <img src="{% static 'assets//img/u.jpg' %}" alt="">
          </div>
          <div class="hover">
            <div class="hoverContent">
              <a href="#" class="btn btn-primary">ثبت سفارش</a>
              <div>
                <p>عکاسی شخصی و عکاسی صنعتی از محصولات شما برای بهتر دیده شدن در بین رغبا و فضای مجازی</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3  col-md-5 col-sm-12">
        <div class="box border border-1">
          <div class="image">
            <div class="text-servic text-center ">طراحی لوگو و آرم </div>

            <img src="{% static 'assets//img/lo.jpg' %}" alt="">
          </div>
          <div class="hover">
            <div class="hoverContent">
              <a href="" class="btn btn-primary">ثبت سفارش</a>
              <div>
                <p>طراحی هویت بصری و ایده پردازی برای طرح لوگو و برندینگ نام تجاری به صورت کامل همراه اوراق اداری و
                  تمامی ملزومات </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3  col-md-5 col-sm-12">
        <div class="box border border-1">
          <div class="image">
            <div class="text-servic text-center ">طراحی بنر و اسلایدر </div>

            <img src="{% static 'assets//img/sl.jpg' %}" alt="">

          </div>
          <div class="hover">
            <div class="hoverContent">
              <a href=""  class="btn btn-primary">ثبت سفارش</a>
              <div>
                <p>طراحی اسلایدر و بنر سایت به صورت گرافیکی و طراحی بنر های تبلیغاتی برای شبکه های اجتماعی از جمله
                  اینستاگرام</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="box border border-1">
          <div class="image">
            <div class="text-servic text-center ">طراحی سایت</div>

            <img src="{% static 'assets//img/gr.jpg' %}" alt="">

          </div>
          <div class="hover">
            <div class="hoverContent">
              <a href="" class="btn btn-primary">ثبت سفارش </a>
              <div>
                <p>طراحی گرافیکی و منحصر به فرد سایت طراحی ظاهری سایت و طراحی کاربردی متناسب با آخرین متد های طراحی جهان
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br><br><br> <br><br><br><br>
  <div class="part2 ">
    <ul class="nav nav-tabs ">


      <li class="nav-itam"><a href="#aboutus" class="  nav-link active" data-bs-toggle="tab">درباره ما </a></li>
      <li class="nav-itam"><a href="#travel" class="nav-link" data-bs-toggle="tab">پیگیری سفارش</a></li>

      <li class="nav-item"><a href="#question" class="nav-link " data-bs-toggle="tab">سوالات متداول</a></li>
    </ul>

    <div class="tab-content">


      <div id="aboutus" class="tab-pane active  w-100   ">
        <div class=" aboutus_part1 container border border-1 shadow m-3 ">
          <h3>ما کی هستیم ؟</h3>
          <p>ما چندتا رفیق قدیمی هستیم که هر کدوم توی مهارت خودمون تخصص کافی رو داریم و عاشق کارمون هستیم
            دوسالی میشه که توی یه دفتر جمع شدیم و داریم با عشق و علاقه در تخصص خودمون فعالیت میکنیم.
          </p>
        </div>

      </div>

      <div id="travel" class="tab-pane ">
        <div>
          <img src="{% static 'assets//img/Road-trip_Two-Color.png' %}" class=" col-4 float-end">
        </div>


        <form class="col-8 col-md-6 c0l-lg-5 form2" action="">
          <div class=" text-center mb-3 ">جهت ورود به ناحیه کاربری اطلاعات زیر را وارد کنید </div>
          <div class="mb-3 text-center">
            <label for="userName" class="form-label float-start">نام کاربری</label>
            <input type="text" class=" form-control d-inline-block w-50 rounded-4">
          </div> <br>
          <div class="mb-3 text-center">
            <label for="password" class="float-start form-label">شماره سفارش</label>
            <input type="text" class=" form-control d-inline-block w-50 rounded-4 "><br>

          </div>
          <br><br><br><br><br><br><br><br>
        </form>

      </div>
      <div id="aboutus" class="tab-pane ">
        <div><img src="{% static 'assets/img/100.png' %}" class="w-40 float-end"></div>
      </div>
      <div id="question" class="tab-pane ">
        <div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <img src="{% static 'assets/img/؟؟.png' %}" style=" width: 25px; height: 25px;">چطور می تونم در مورد طرح هام نظر بدم و
                  پیشرفت پروژه ام رو دنبال کنم ؟
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  بعد از تکمیل فرم وثبت سفارش و پرداخت می تونید با استفاده از شماره موبایلتون وارد پنل مشتریان بشید.
                  اونجا می تونید پیشرفت پروژه تون رو به صورت لحظه ای دنبال کنید و در مورد طرح هاتون نظر بدید و مستقیم
                  با طراحتون در ارتباط باشید .
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <img src="{% static 'assets/img/؟؟.png' %}" style=" width: 25px; height: 25px;"> آیا فایل لایه باز طرح رو بهم می دید؟
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  خیر . یکی از قوانین و عرف های جهانی طراحی گرافیک اینه که فایل لایه باز طراحی در اختیار مشتری قرار
                  داده نمیشه . این کار به دلیل حفظ مسئولیت سوء استفاده احتمالی از طرح برای طراحشه . بعد از پایان هر
                  طراحی و دریافت تایید از مشتری فایل لایه بسته و با کیفیت اصلی در اختیار مشتری قرار میگیره .
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <img src="{% static 'assets/img/؟؟.png' %}" style=" width: 25px; height: 25px;"> فایل های طراحی شده رو چطور به دستم
                  میرسونید؟
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  فایل های طراحی شده از طریق پنل مشتریان بخش هر سفارش براتون ارسال می شه . اگر دسترسی به پنل مشتریان
                  براتون سخت بود این امکان وجود داره که فایل ها از طریق تلگرام یا واتساپ یا ایمیل براتون ارسال بشه
                  .بنابراین نیاز به مراجعه حضوری نیست.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <img src="{% static 'assets/img/؟؟.png' %}" style=" width: 25px; height: 25px;">چقدر زمان می بره که پاسخ سوالاتمو بدید ؟
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  همکاران ما از ساعت 9 صبح الی 5 بعد از ظهر مشغول به فعالیت هستند . در طی این ساعات تلاشمون بر اینه که
                  حداکثر طی مدت 2 ساعت پیام شما بررسی بشه .
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock 'content' %}