
{% extends "base.html" %}
{% load static %}
{% block 'title' %}services{% endblock 'title' %}
{% block 'content' %}<!DOCTYPE HTML>
      </div>
    </div>
     <br><br><br>
    <div class="container">
  <div class="row " style="display: flex; flex-wrap: wrap;"> <div style="display: flex; flex-wrap: wrap;">
    <div class=" wow slideInLeft "  >
      <div class="box border border-1">
        <div class="image">
          <img src="{% 'assets//img/u.jpg' %}" alt="">
        </div><!--کلاس عکس-->
        <div class="hover" style=" background-image: linear-gradient(to bottom, #F6F6F6, #22B5BD);"> <h4 class="">عکاسی</h4>
          <div class="hoverContent"><p class="text text-center">عکاسی شخصی و عکاسی صنعتی ازمحصولات شما برای بهتر دیده شدن در بین رغبا و فضای مجازی</p>
          </div><!--هاور کانتنت-->
        </div><!--هاورخالی-->
      </div>  <!--باکس-->
     </div> <!--کال-->

      <div class=" wow slideInLeft">
      <div class="box border border-1">
        <div class="image">
          <img src="{% 'assets//img/lo.jpg' %}" alt="">
        </div><!--کلاس عکس-->
        <div class="hover"  style=" background-image: linear-gradient(to bottom, #F6F6F6, #FDEF51) ;"><h4>طراحی لوگو و آرم </h4>
          <div class="hoverContent"><p class="text text-center">طراحی هویت بصری و ایده پردازی برای طرح لوگو و برندینگ نام تجاری به صورت کامل همراه اوراق اداری و تمامی ملزومات .</p>
          </div><!--هاور کانتنت-->
        </div><!--هاورخالی-->
      </div>  <!--باکس-->
   </div> <!--کال-->

      <div class=" wow slideInRight ">
      <div class="box border border-1">
        <div class="image">
          <img src="{% 'assets//img/gr.jpg' %}" alt="">
        </div><!--کلاس عکس-->
        <div class="hover"  style=" background-image: linear-gradient(to bottom, #F6F6F6, #F8CFA1) ;"> <h4>طراحی گرافیکی سایت </h4>
          <div class="hoverContent"><p class="text text-center">طراحی گرافیکی و منحصر به فرد سایت <br>طراحی ظاهری سایت و طراحی کاربردی متناسب با آخرین متد های طراحی جهان .</p>
          </div><!--هاور کانتنت-->
        </div><!--هاورخالی-->
      </div>  <!--باکس-->
    </div> <!--کال-->

     <div class=" wow slideInRight ">
      <div class="box border border-1">
        <div class="image">
          <img src="../img/sl.jpg' %}" alt="">
        </div><!--کلاس عکس-->
        <div class="hover"  style=" background-image: linear-gradient(to bottom, #F6F6F6, #9BAB84)  ;"><h4>طراحی اسلایدر و بنر </h4>
          <div class="hoverContent"><p class="text text-center">طراحی اسلایدر و بنر سایت به صورت گرافیکی و طراحی بنر های تبلیغاتی برای شبکه های اجتماعی <br>از جمله اینستاگرام و</p>
          </div><!--هاور کانتنت-->
        </div><!--هاورخالی-->
      </div>  <!--باکس-->
   </div> <!--کال-->

     </div>
  </div>  <!--رو-->
</div>   <!--کانتینر-->
{% endblock 'content' %}